<template>
  <div class="publications">
      <Publication
        v-for="(publication, index) in publications"
        :key="index"
        v-bind="publication"
      />
  </div>
</template>

<script>
import Publication from '../Publication/Publication.vue';
import {pubs} from './dummydata.js';
export default {
  name: 'PublicationList',
  components: {Publication},
  props: {
    publications: {
      type: Array,
      default: () => []
    }
  },

}
</script>


<style>
.publications {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
