<template>
  <div class="author">
    <AnchorOr :href="href">{{name}}</AnchorOr>
  </div>
</template>

<script>
import AnchorOr from '../AnchorOr/AnchorOr.vue';

export default {
  name: 'Author',
  components: { AnchorOr },
  props: {
    name: {
      type: String,
      default: 'John Doe'
    },
    href: {
      type: String,
      default: ''
    }
  },
  computed: {
    initials() {
      return this.names
      .map(word => word[0].toUpperCase())
      .join('.')+'.'
    },
    names() {
      return this.name.split(" ")
    },
    first() {
      return this.names[0]
    },
    last() {
      return this.names[this.names.length - 1]
    }
  }
}
</script>

<style>
.author {
  display: inline;
}
</style>
