<template>
  <div class="authors">
    <Author
      v-for="author in authors"
      :key="author.id"
      v-bind="author"
    />
  </div>
</template>

<script>
import Author from '../Author/Author.vue'
export default {
  name: "AuthorList",
  components: { Author },
  props: {
    authors: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style>
.authors {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.author:not(:last-child)::after {
  content: ", ";
}
.author:last-child::before {
  content: "& ";
}
</style>
