<template>
  <div
    class="alert d-flex justify-content-between"
    :class="'alert-'+type"
  >
    <span><strong>{{title}}</strong>{{message}}</span>
    <ButtonClose @close='clicked'/>
  </div>
</template>

<script>
import ButtonClose from '../ButtonClose/ButtonClose.vue';
export default {
  components: {
    ButtonClose
  },
  props: {
    type: {
      type: String,
      default: 'info'
    },
    title: {
      type: String,
      default: 'Info'
    },
    message: {
      type: String,
      default: 'this is a default message'
    }
  },
  methods: {
    clicked() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
strong:after {
  content: ': '
}
</style>
