<template>
  <div :is="href ? 'a' : or" :href="href">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'AnchorOr',
  props: {
    or: { default: 'span', type: String },
    href: { type: String }
  },
}
</script>

<style>

</style>
