<template>
  <button type="button" class="close" @click='clicked'>
    <span aria-hidden="true">&times;</span>
  </button>
</template>

<script>
export default {
  name: 'ButtonClose',
  methods: {
    clicked() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
button.close {
  float: none;
}
</style>
