<template>
    <Alert
      class="alert-center-item"
      :style='style'
      :title='alert.title'
      :message='alert.message'
      :type='alert.type'
      @mouseover.native="hoveredQ=true"
      @mouseleave.native="hoveredQ=false"
      @close="clicked"
    />
</template>

<script>
import Alert from '../Alert/Alert.vue';

export default {
  name: 'AlertCenterItem',
  components: {Alert},
  props: {
    collaspedQ: {
      type: Boolean,
      default: true
    },
    alert: {
      type: Object,
      default: () => {return {title: '', message: ''}}
    },
    index: {
      type: Number,
      default: 0
    },
    verticalShift: {
      type: Number, default: 15
    },
    hoverShift: {
      type: Number, default: 15
    },
    hoverOpacityScale: {
      type:Number, default: 1
    },
    totalElements: {
      type:Number, default: 1
    }
  },
  data() {
    return {
      hoveredQ: false
    }
  },
  computed: {
    top() {
      var hoverShift = (this.hoveredQ ? this.hoverShift: 0)
      return this.index * this.verticalShift - hoverShift
    },
    marginTop() {
      return -this.verticalShift
    },
    opacity() {
      var perc = (this.index + 1) / this.totalElements
      var opac = 1 - (1 - perc) * this.hoverOpacityScale
      return this.collaspedQ ? opac : 1
    },
    boxShadow() {
      return `0px ${this.top / 5}px 15px 0px`
    },
    style() {
      var sty = {
        marginTop: `${this.marginTop}px`,
        // top: `${this.top}px`,
        opacity: `${this.opacity} !important`,
        // boxShadow: this.boxShadow
      };
      if (this.hoveredQ && this.collaspedQ) {
        sty.transform = `translateY(-${this.hoverShift}px)`;
      }
      return sty
    }
  },
  methods: {
    clicked() {
      this.$emit('close', this.index)
    }
  }

}
</script>

<style scoped>
.alert-center-item {
  transition: all 0.5s ease;
  /* position: absolute; */
  width: 100%;
  text-align: left;
}

</style>
