<template>
  <div class="splinter">
    <span
      class="word"
      v-for="(word, index) in words"
      :style="wordStyle(index)"
      :key="word.id"
    >
      <span
        class="char"
        v-for="(char, jndex) in chars(word)"
        :style="charStyle(index, jndex)"
        :key="char.id"
      >
        {{char}}
      </span>

      <span
        class="char space"
        v-if="notLastNorOneQ(index)"
        :style="charStyle(index, chars(word).length + 1)"

      >
        &nbsp;
      </span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'Splinter',
  props: {
    text: {
      type: String,
      default: 'Default Text',
      validator: function(value) {
        return typeof value === 'string'
      }
    }
  },
  computed: {
    words: function() {
      return this.text.split(' ')
    },

  },
  methods: {
    wordStyle: function (index) {
      return {
        '--word-index': index
      }
    },

    charStyle: function (index, jndex) {
      var sty = this.wordStyle(index)
      sty['--char-index'] = jndex;
      sty['--abs-index'] = this.absolute_index(index, jndex)
      return sty
    },

    chars: function(str) {
      return str.split('')
    },
    notLastNorOneQ: function(wordIndex) {
      return wordIndex < this.words.length && this.words.length > 1
    },
    absolute_index: function(wordIndex, charIndex) {
      var that = this;
      var absIndex = 0;
      for (var i = 0; i < wordIndex; i++) {
        absIndex += that.words[i].length + (that.notLastNorOneQ(wordIndex) ? 1 : 0)
      }
      absIndex += charIndex
      return absIndex
    }
  }
}
</script>

<style>
.splinter {
  display: inline-block;
}

.word {
  display: inline-block;
}

.char {
  display: inline-block
}

</style>
