<template>
  <div class="publication">
    <AnchorOr class="publication__title" :href="title.href">{{title.text}}</AnchorOr>
   <div class="publication__details">
      <AuthorList class="publication__authors" :authors="authors"/>

      &nbsp;•&nbsp;

      <AnchorOr v-if="booktitle" class="publication__booktitle" :href="booktitle.href">{{booktitle.text}}</AnchorOr>
      <span v-if="booktitle">&nbsp;</span>

      <span v-if="year" class="publication__year">{{year}}</span>
      <span v-if="year">&nbsp;</span>

      <span v-if="volume" class="publication__volume">{{volume}}</span>
      <span v-if="volume">&nbsp;</span>

      <span v-if="pages" class="publication__pages">{{pages[0]}}-{{pages[pages.length-1]}}</span>
    </div>
  </div>
</template>

<script>
import AuthorList from '../AuthorList/AuthorList.vue';
import AnchorOr from '../AnchorOr/AnchorOr.vue';

export default {
  name: 'Publication',
  components: {AuthorList, AnchorOr},
  props: {
    title: { type: Object },
    abstract: { type: String },
    authors: { type: Array },
    booktitle: { type: Object },
    year: { type: Number },
    pages: { type: Array },
    volume: { type: Number }
  }
}
</script>

<style>
.publication {
  text-align: left;
  --pub-font-color: #5f6368;
  --pub-title-color: #5f6368;
  color: var(--pub-text-color);
  transition: all 0.4s, ease;
  flex: 1 1;
  height: auto;
  padding: 8px 20px 6px 0;
}

.publication a:hover {
  color: #4285f4;
  -webkit-text-decoration-color: #4285f4;
  text-decoration-color: #4285f4;
}

.publication a {
  text-decoration: underline;
  transition: all 0.4s ease;
}

.publication__details {
  color: var(--pub-font-color);
  font-size: 12px;
  display: inline;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.publication__title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: var(--pub-title-color);
}
.publication__authors {

}

.publication__author {
}

.publication__booktitle {
  font-style: italic;
}

.publication__year::before {
  content: "(";
}

.publication__year::after {
  content: ")";
}

.publication__volume::before {
  content: "vol. ";
}

.publication__pages::before {
  content: "pp. ";
}
</style>
