<template>
  <div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <ul class="mx-auto" :style="style">
      <AlertCenterItem
        v-for="(alert, index) in alerts"
        :key="alert.id"
        :index="index"
        :alert="alert"
        :totalElements="alerts.length"
        :verticalShift="shift"
        :hoverShift="hoverShift"
        :collaspedQ="collapsedQ"
        @close="remove(index)"
      />
    </ul>
    <button class="btn" @click="toggleCollapse()">
      click to collapse / expand
    </button>
  </div>

</template>

<script>
import AlertCenterItem from '../AlertCenterItem/AlertCenterItem.vue';

export default {
  name: 'AlertCenter',
  components: {AlertCenterItem},
  props: {
    alerts: {
      type: Array,
      default: () => [
        {title: 'title', message: 'message 1', type: 'info'},
        {title: 'title', message: 'message 2', type: 'info'},
        {title: 'title', message: 'message 3', type: 'info'},
        {title: 'title', message: 'message 4', type: 'info'},
        {title: 'title', message: 'message 5', type: 'info'},
        {title: 'title', message: 'message 6', type: 'info'},
      ]
    },
    verticalShift: {
      type: Number,
      default: 55
    },
    hoverShift: {
      type: Number,
      default: 15
    }
  },
  data() {
    return {
      shift: this.verticalShift,
      pad: this.verticalShift,
      collapsedQ: true
    }
  },
  methods: {
    remove(index) {
      this.alerts.splice(index, 1)
    },
    toggleCollapse() {
      this.collapsedQ = !this.collapsedQ
      this.shift = this.collapsedQ ? this.verticalShift : 0
      this.pad = this.collapsedQ ? this.verticalShift : 0
    }
  },
  computed: {
    style() {
      return {
        paddingTop: `${this.pad}px`,
        position: 'relative'
      }
    }
  }
}
</script>

<style>
ul {
  padding: 0px;
  margin: 0px;
}
</style>
